* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    text-align: center;
}

h2 {
    background-color: #333;
    color: whitesmoke;
}

div {
    margin: 2rem auto;
    padding: 0.5em;
    width: 50%;
    border: 2px solid #333;
}


/* showing specificity */
ol,
ul {
    list-style-position: inside;
    color: blue;

}

#like {

    color: yellow;
}

/* demonstrating inheritance*/

div {
    background-color: coral;
}